<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post" action="/login">
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="hidden" name="redirect_url" value="{{.RedirectUrl}}"/>.
    <input type="hidden" name="challenge" value="{{.Challenge}}"/>.
    <input type="hidden" name="challenge" value="{{.ChallengeMethod}}"/>.
    <button type="submit">Login</button>
</form>

</body>
</html>
